body {
	background-color: white;
	color: #333;
	font-size: 13px;
	line-height: 18px;
	font-family: Arial,Helvetica,sans-serif;
  /*overflow-x: hidden;*/
}

ul, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0 ;
  padding-inline-start: 0;
}

/* custom elements --------------------------------------------------------------------*/

.block-title {
  font: bold 22px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: #f72210;
}

.link-red {
  display: inline-block;
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px/18px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  background-color: #f72210;
}

.link-red:hover {
  background-color: #de1f0e;
}

.link-red:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(/img/icon-arrow-right.svg) center/contain no-repeat;
}

/* header -----------------------------------------------------------------------------*/

header {
  height: 151px;
}

/* header top */

.fixed-top {
  height: 95px;
}

.container-fluid {
	position: relative;
}

.header-top {
	position: relative;
	margin: auto;
	background-color: #f72210;
	color: #fff;
	padding: 50px 0px 10px 0px;
	max-width: 1310px;
	transition: all 0.3s;
}

.header-bottom {
	position: relative;
	top: 95px;
	max-width: 1310px;
  margin: auto;
}

.header-logo {
	position: absolute;
	width: 396px;
	height: 60px;
	transform: translate(-50%, 0);
	top: 15px;
  left: 50%;
  object-fit: cover;
}

.header-date {
	position: relative;
  margin-left: 10px;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial,Helvetica,sans-serif;
}

.header-signin-subscribe {
	margin-right: 3px;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}

.header-signin-subscribe a {
	text-decoration: none;
	color: #f72210;
	background-color: #fff;
  padding: 0 10px;
}

.header-signin-subscribe a i {
  padding: 0;
}

.header-signin-subscribe span {
	padding-right: 10px;
}

.fa-chevron-right {
	padding-right: 10px;
	padding-left: 10px;
	z-index: 100;
}

.fa-bars {
	position: absolute;
	top: 0;
	width: 16px;
  padding-left: 15px;
  padding-top: 6px;
	color: #f72210;
  z-index: 9999;
  font-size: 27px
}

/* header bottom */

.header-bottom {
	color: #000;
	height: 56px;
	padding: 10px 0px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
  position: relative;
  z-index: 10000;
}

.header-bottom::before {
	width: 66px;
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	background-color: #f72210;
	border-left: 12px solid #fff;
	border-top: 13px solid #f72210;
}

.page-nav {
  display: flex;
  padding-top: 6px;
  padding-right: 50px;
  padding-left: 0 ;
  list-style: none;
  font-size: 21px;
  line-height: 24px;
  font-weight: 900;
  font-family: 'Roboto Condensed', sans-serif;
}

.page-nav :first-child,
.page-nav :last-child {
	border-width: 0px;
}

.page-nav li {
	flex-grow: 1;
	text-align: center;
	border-left: 1px solid #d9d9d9;
}

.page-nav > li > a {
  cursor: pointer;
}

.page-nav  li  a:hover {
  color: #f72210 !important;  /* https://github.com/twbs/bootstrap/issues/24140 */
}

.page-nav  li img {
  height: 25px;
  width: 25px;
}

.header-search {
	color: #0000008c;
  cursor: text;
  padding-right: 5px;
	font-size: 16px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

.fa-search {
	padding-left: 10px;
  font-weight: 300;
}

/* block-section-picks ----------------------------------------------------------------*/

.bs-left-mid-img {
  max-width: 318px;
  object-fit: cover;  
}

.bs-feature-img {
  max-width: 135px;
  object-fit: cover;  
}

.bs-left-mid-text {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Roboto Condensed",sans-serif;
}

.bs-left-mid-text:hover {
  text-decoration: underline #f72210;
  cursor: pointer;
}

.bs-f-info {
  font: bold 17px/21px "Roboto Condensed",sans-serif;
  color: black;
}

.bs-f-info:hover {
  color: red;
  cursor: pointer;
}

/* subscribe-newsletter ---------------------------------------------------------------*/

.subscribe-col {
  background: #f4f5f6;
}

.subscribe-col img {
  min-width: 260px;
  object-fit: cover;
}

.newsletter-col {
  border: 1px solid #ebebeb;
}

.newsletter-col img {
  min-height: 313px;
  object-fit: cover;
}

.subscribe-text{
  min-height: 265px;
}

.newsletter-text {
  min-height: 313px;
}

.subscribe-text h3,
.newsletter-text h3 {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.subscribe-text p,
.newsletter-text p {
  font: 300 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 25px;
}


/* footer -----------------------------------------------------------------------------*/

.footer {
  border-top: 2px solid #f4f5f6;
	background-color: #fff;
  color: #666;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.footer-logo {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  line-height: 20px;
}

.copyright {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 3px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: Arial,Helvetica,sans-serif;
}

.footer-social {
  display: flex;
  align-items: flex-end;
}

.footer-social i {
  line-height: 24px;
  font-size: 24px;
  text-align: center;
  display: block;
  cursor: pointer;
  padding-left: 15px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 15px;
  padding-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.footer-bottom ul {
  list-style-type: none;
  cursor: pointer;
}

.leaf {
	border-right: 1px solid #d9d9d9;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.leaf:hover {
	color: #000;
}